:root {
  --body-text-color: #333333;
  --template-block-text-color: #555;
  --project-color: #2e6da4;
  --link-color: #337ab7;
  --link-darker-color: #2b669a;
  --link-hover-darker-color: #770000;
  --link-focus-color: #23527c;
  --link-focus-color: #25527c;
  --bottom-grad-color: #2e6da4;
  --bottom-grad-darker-color: #265a88;
  --input-has-value-color: rgb(255, 246, 226);
  --content-font-family: "Assistant", sans-serif;
  --content-font-size: 18px;
  --button-font-family: "Assistant", sans-serif;
  --label-font-family: "Assistant", sans-serif;
  --table-font-family: "Assistant", sans-serif;
  --table-font-size: 12px;
  --table-head-font-family: "Assistant", sans-serif;
  --table-head-font-size: 15px;
}

@font-face {
  font-family: "Assistant";
  src: url(/fonts/assistant/Assistant-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(/fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto-Italic";
  src: url(/fonts/roboto/Roboto-Italic.ttf);
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url(/fonts/roboto/Roboto-BoldItalic.ttf);
}
