.make-sortable {
  padding: 10px 0;
  position: relative;
}
.make-sortable .sortable-block {
  padding-inline-start: 0;
  margin-right: 100px;
}
.make-sortable .sortable-block > * {
  margin: 4px;
  display: block;
}
.make-sortable .sortable-block > *[data-field-name^=placeholder_] {
  background-color: rgb(224, 224, 224);
}
.make-sortable .sortable-block > *[data-field-name^=embedded_report_] {
  background-color: #ccf9cc;
}
.make-sortable .sortable-block > *:before {
  content: "\e119";
  margin-right: 0.8em;
  color: rgb(128, 128, 128);
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-size: 10px;
}
.make-sortable .sortable-block > *:hover {
  cursor: pointer;
}
.make-sortable .sortable-block .sortable-ghost {
  visibility: hidden;
}
.make-sortable .sortable-block-trash {
  min-height: 30px;
  background-color: rgb(208, 160, 160);
  padding: 4px;
  width: 100px;
  top: 0;
  position: absolute;
  right: 0;
  height: 100%;
}
.make-sortable .sortable-block-trash:before {
  content: "(drop here to remove)";
  font-size: 11px;
  color: #555;
  padding: 0 1em;
  display: inline-block;
}
.make-sortable .sortable-block-trash > *:hover {
  cursor: pointer;
}
.make-sortable .sortable-add-item {
  height: 20px;
  line-height: 18px;
  padding: 0 5px;
  font-weight: bold;
}
.make-sortable .sortable-add-item-text {
  width: 30em;
  font-size: 12px;
  font-family: monospace;
  line-height: 1.3;
  padding: 2px;
  height: 20px;
  display: inline-block;
}
