.markdown-editor-toolbar input[type=text].link-input {
  width: 150px;
  max-width: 150px;
}
.markdown-editor-toolbar .dropdown-menu.input-append {
  padding: 20px;
  min-width: 300px;
  background-color: #f3f3f3;
}
.markdown-editor-toolbar .dropdown-menu.input-append input.form-control, .markdown-editor-toolbar .dropdown-menu.input-append select.form-control {
  margin-bottom: 10px;
  border: rgb(192, 192, 192) 1px solid !important;
  min-height: 20px;
}
.markdown-editor-toolbar .dropdown-menu.input-append button {
  border: rgb(192, 192, 192) 1px solid;
  background-color: rgb(255, 255, 255);
}
.markdown-editor-toolbar .btn-group a.btn {
  color: #333333;
}

.markdown-editor-toolbar__btn--paragraph {
  font-weight: normal;
}
.markdown-editor-toolbar__btn--paragraph-text {
  font-size: 12px;
}
.markdown-editor-toolbar__btn--heading {
  font-weight: bold;
}
.markdown-editor-toolbar__btn--h2-text {
  font-size: 14px;
}
.markdown-editor-toolbar__btn--h3-text {
  font-size: 12px;
}
.markdown-editor-toolbar__btn--h4-text {
  font-size: 10px;
}
.markdown-editor-toolbar__btn--strikethrough {
  text-decoration: line-through;
}
.markdown-editor-toolbar__btn--unlink-icon {
  text-decoration: line-through;
}
